
.DS_Store
local.properties
app/build/
app/release/
.gradle/file-system.probe
.gradle/buildOutputCleanup/
.gradle/7.4/executionHistory/
.gradle/7.4/fileHashes/
.gradle/buildOutputCleanup/
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/deploymentTargetDropDown.xml
/.gradle
/.idea
/.kotlin
/build
/.gradle
